<div class='container mt-5'>
  <div class='container wrapper'>
    <div class='row p-2 title'>
      <div class='col text-center'>
        <h1>Cotización</h1>
      </div>
    </div>
    <div class='row p-2 mt-3'>
      <div class='col'>
        <p>Costo de financiamiento:</p>
      </div>
      <div class='col'>
        <span class='results'>
          <%= number_to_currency(@financing_cost, precision: 0, delimiter: '.') %>
        </span>
      </div>
    </div><hr>
    <div class='row p-2'>
      <div class='col'>
        <p>Giro a recibir:</p>
      </div>
      <div class='col'>
        <span class='results'>
          <%= number_to_currency(@receiving_amount, precision: 0, delimiter: '.') %>
        </span>
      </div>
    </div>
    <hr>
    <div class='row p-2'>
      <div class='col'>
        <p>Excedentes:</p>
      </div>
      <div class='col'>
        <span class='results'>
          <%= number_to_currency(@surplus, precision: 0, delimiter: '.') %>
        </span>
      </div>
    </div>
    <div class='text-end pb-1'>
      <%= link_to 'Volver', :back %>
    </div>
  </div>
</div>




